
body {
    font-family: "Montserrat";
    margin: 0px;
}

:root {
    background-color: rgba(11,14,23,1);
    --text-color: rgba(255,255,255,1);
    --text-color-dim: rgba(255,255,255,0.64);

    --separator-line-color: rgba(101,19,114,0.48);

    --btn-background-color: rgba(58,11,77,1);
    --btn-border: 2px solid rgba(101,19,114,1);
    --btn-box-shadow: 6px 0 27px 14px rgba(58,11,77,0.78);

    --form-background-color: rgb(9, 5, 59);
    --form-border-color: rgba(101,19,114,0.46);
    --form-text-placeholder-color: rgba(255,255,255,0.26);
}

body {
    background-color: var(--background-color);
}

.main-nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 15px 50px;
    display: flex;
    
}

.main-nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3 all ease;
    font-size: 15.5px;
    padding: 0px 30px;
}

.main-nav ul li a:hover{
    color: #284251;

}

hr{
    color: var(--separator-line-color);
}

#header{
    padding: 15px;
    padding-top: 130px;
    text-align: center;
}

h6{
    color: var(--text-color-dim);
    margin: -15px;
    
}

.para_1 {
    color: var(--text-color);
    
}
.para_2 {
    color: var(--text-color-dim);
    font-size: 0.6rem;
    padding-top: 5px;
}
.section_1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
}

.btn{
    background-color: var(--btn-background-color);
    border: var(--btn-border);
    box-shadow: var(--btn-box-shadow);
    padding: 10px 50px;
    color: var(--text-color);
    border-radius: 10px;
}

.btn_2{
    padding: 10px 50px;
}

.section_2{
    text-align: left;
    padding-top: 120px;
    padding-bottom: 80px;
}

.section_2{
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-bottom: 100px;
}

.main_content{
    color: var(--text-color);
    width: 49%;
    padding-left: 100px;
    padding-right: 50px;
   font-size: medium;
}

.globe_2{
    padding-right: 30px;
}

.part_1{
    padding-left: 100px;
    padding-right: 50px;
   font-size: medium;
}


h1{
    margin-bottom: -15px;
}

.para_3{
    padding-top: 30px;
}

.form{
    text-align: center;
    padding-top: 60px;
}

h2{
    color: var(--text-color);
    
}

.para_4{
    color: var(--text-color-dim);
    margin-top: -20px;
    padding-bottom: 40px;
}

.box{
    background-color: var(--form-background-color);
    color: var(--text-color); 
    border: var(--btn-border);
    box-shadow: var(--btn-box-shadow);
    padding: 50px 80px;
    color: var(--text-color);
    border-radius: 25px;
    width: 25%;
    margin: auto;
    align-items: center;
}


.name{
    background-color: var(--btn-background-color);
    border: var(--btn-border);
    box-shadow: var(--btn-box-shadow);
    height: 30px;
    color: var(--text-color);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    
}

  
.last{
    margin-bottom: 15px;
}

.para_5{
    font-size: 0.7rem;
}


footer{
    background-color: #000000;
    padding: 10px;
    margin-top: -7px;
    color: var(--text-color-dim);
    text-align: center;
    font-size: 0.7rem;
}

img{
    width: 100%;
}